<div class="wrapper wrapper-full-page">
    <div class="full-page">
        <div class="content">
            <div class="container">
                <div class="row">
                    <div class="col-md-6 col-md-offset-3 text-center">
                        <h2 class="title">Pick the best plan for you</h2>
                        <h5 class="description">You have Free Unlimited Updates and Premium Support on each package.</h5>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>