/*
NEW COLOR SCHEME
-------------------
blue color code: #3CA7DB

black color code: #0F0f0f

background grey color code: #f5f5f5

*/
body, h1, h2, h3, h4, h5, h6, .h1, .h2, .h3, .h4 {
	font-family: sans-serif;
	line-height: 1.5em;
}
body {
	background-color: #e9eded;
}

/***** Header Main Navigation ******/
.font-small {
	font-size: 14px;
}
.font-medium {
	font-size: 16px;
	font-weight: bold;
}
.font-big {
	font-size: 24px;
	font-weight: bold;
}
.font-vbig {
	font-size: 30px;
}
.font-vvbig {
	font-size: 36px;
}
.color-white {
	color: #fff;
}
.trans-select {
	appearance: none;
    -webkit-appearance: none;
    -moz-appearance: none;
    border: 0;
    border-radius: 3px 0 0 3px;
    position: relative;
    z-index: 999;
    background: #fff;
}
.align-center {
	text-align: center;
}
.show {
	display: block;
}
.hide {
	display: none;
}


html * {
	-webkit-font-smoothing: auto;
}
.wrapper {
	height: auto;
}
/** Header Top Styles Customized *******/
.formsection li select {
	appearance: none;
	-webkit-appearance: none;
	-moz-appearance: none;
	height: 41px;
	border-radius: 3px 0 0 3px;
	z-index: 10;
	border: 0;
	position: relative;
	background: transparent;
	padding: 10px;
}

.mobile-location-selectors {
	background-color: #ffffff;
	display: none;
}
.mobile-location-selectors .formsection {
	padding: 10px;
}

.open_categories {
	padding: 10px 30px 10px 13px;
	color: #333;
	border-radius: 10px;
}

select {
	width: 100%;
	cursor: pointer;
	padding: 5px;
	border: 1px solid #f2f2f2;
	padding: 7px 8px;
	background-color: #fff;
}
#header {
	background-color: #fff;
}

#header.type_6 ul.formsection {
	float: left;
	width: 100%;
	display: inline-block;
}

select {
	width: 100%;
	cursor: pointer;
	padding: 5px;
	border: 1px solid #f2f2f2;
	padding: 7px 8px;
	background-color: #fff;
}

.open_categories {
	padding: 10px 30px 10px 13px;
	color: #333;
	border-radius: 10px;
}

ul.formsection {
	list-style: none;
}

.formsection li {
	/*border: 1px solid #f2f2f2;*/
	padding: 0;
	margin: 0 25px 10px 0;
}
@media screen and (min-width: 769px) {
	.formsection li {
		width: 25%;
	}
}

.formsection li:last-child {
	width: auto;
	border: 0;
}

.social_btns>li {
	float: left;
	margin: 0 4px 4px 0;
	list-style: none;
}
.social_btns>li> a {
	font-size: 20px;
	color: #364762;
	border: 1px solid #364762;
	display: inline-block;
	padding: 6px;
	width: 30px;
}

.bottom_part {
	padding: 8px 0 4px;
	width: inherit;
}
.main-panel>.content {
	margin-top: 10px;
}

.red{
	background: #d86464;
}
.yellow{
	background: #d2d240;
}
.green{
	background: #5dd05d;
}
.profile-info-front{
	line-height: 4;
    font-weight: bold;
    text-align: center;
    color: white;
    border: 1px solid;
    margin-bottom: 36px;
}

/*********** Front Side Styles *****************/

section#products {
	padding: 60px 0 80px 0;
}
.products {
	background-color: #ffffff;
	margin: 20px;
}
/** Product Box ***/
.product-box {
	text-align: center;
	padding: 10px;
	background: #fff;
	box-shadow: 0px 0px 5px rgba(0, 0, 0, 0.1);
}
.product-box:hover {
	cursor: pointer;
}
.product-box__img {
	position: relative;
	height: 170px;
	overflow: hidden;
}
.product-box__quick-view {
	position: absolute;
	left: 0;
	top: 0;
	width: 100%;
	height: 100%;
	background: rgba(0, 0, 0, 0.4);
	opacity: 0;
	transition: .3s all;
}
.product-box:hover .product-box__quick-view {
	opacity: 1;
}
.product-box__quick-view-btn > i {
	color: #f1f1f1;
	font-size: 40px;
	margin-top: 50px;
}
.product-box__img > img {
	width: 100%;
}
.product-box__rating .br-theme-fontawesome-stars .br-widget a {
	font-size: 16px;
}
.br-theme-fontawesome-stars .br-widget {
	margin-top: 10px;
}
.product-box__title {
	font-size: 16px;
	/*font-weight: bold;*/
}
.product-box__dtl-btn {
	background: #f1f1f1;
	padding: 5px 8px;
	border-radius: 4px;
	transition: .3s all;
	color: #525252;
}
.product-box__dtl-btn:hover {
	color: #f1f1f1;
	border: 0;
	background: #3ca7db;
}
#products-section {
	/*padding: 60px 0;*/
	/*background: #fff;*/
}
ul.payment-img-list {
    list-style: none;
    padding: 0;
}
ul.payment-img-list > li {
    float: left;
}
ul.payment-img-list > li > a {

}
ul.payment-img-list > li > a > img {

}

/*** Owl Carousel ****/
.image-slider .item img {
	display: block;
	width: 100%;
	height: auto;
}
.products-carousel__title {
	margin-bottom: 20px;
}
.products-carousel__title > h3 {
	display: inline-block;
	font-weight: bold;
	font-size: 22px;
}
.products-carousel.owl-theme .owl-nav {
	position: absolute;
	top: -65px;
	margin: 0;
	right: 0;
}
.owl-carousel .owl-nav button.owl-next > span,
.owl-carousel .owl-nav button.owl-prev > span {
	font-size: 40px;
}
#top-image-slider .owl-theme .owl-nav.disabled+.owl-dots {
	background-color: #fff;
	margin-top: 0;
	padding-top: 10px;
}
#brands-section {
	margin: 20px auto;
}
#brands-slider .item > a {
	display: inline-block;
	width: 150px;
}

/******* Quick Product View Modal Styles **************/
.modal-img__large {
	margin: 0 auto;
	overflow: hidden;
}
.modal-img__large > img {
	width: 100%;
}
button.close {
	color: #999;
	position: absolute;
	right: 30px;
	z-index: 9;
	font-size: 40px;
}
button.close:hover {
	color: #999;
}
.product-box__btn-details a.btn {
	text-transform: capitalize;
	background-color: #3ca7db;
}
.product-thumbs__thumbnail {
	display: inline-block;
	float: left;
	width: 120px;
	overflow: hidden;
	margin-right: 20px;
	height: 100px;
	text-align: center;
}
.product-thumbs__thumbnail > img {
	height: 100%;
}
.product-thumbs {
	padding: 20px;
	background: #f1f1f1;
}
.quick-modal .modal-body {
	margin-bottom: 40px;
}
.product-box__short-desc {
	margin: 15px 0;
}

.loading-animation {
	text-align: center;
	padding: 50px;
	display: none;
}


/******** Product Details Styles *************/
#product-details-section {
	padding: 60px 0;
	background-color: #fff;
}
.product-desc {
	padding: 10px 0;
}
.zoom {
	display:inline-block;
	position: relative;
	cursor: zoom-in;
}
.zoom img {
	display: block;
}
.zoomer-thumbs {
	position: relative;
}
.zoomer-thumbs .item {
	height: 70px;
	overflow: hidden;
}
.zoomer-thumbs .owl-nav {
	margin: 0;
	height: 100%;
	width: 100%;
}
#product-details-section .zoomer-thumbs .owl-nav > button {
	height: 100%;
	position: absolute;
	background: #f1f1f1;
	padding: 10px !important;
	margin: 0;
	top: 0;
	border-radius: 0;
	display: inline-block;
}
#product-details-section .zoomer-thumbs .owl-nav > button.owl-next {
	right: 0;
}
#product-details-section .zoomer-thumbs .owl-nav > button.owl-prev {
	left: 0;
}
#products-details-similars {
	padding: 60px 0;
	background: #fff;
}
.products-carousel.owl-carousel .owl-nav button.owl-next,
.products-carousel.owl-carousel .owl-nav button.owl-prev {
	padding: 2px 10px !important;
	border: 1px solid #999;
}




/************ Quantity Spinner Styles ************/
.quantity-box {
	margin: 10px 0;
}
.qty-spinner {
	display: flex;
	vertical-align: middle;
}
.qty-title {
	margin-right: 10px;
	display: inline-block;
	vertical-align: middle;
}
.quantity-box .qty {
	width: 40px;
	font-weight: bold;
	text-align: center;
	float: left;
	height: 40px;
	border: 1px solid #f2f2f2;
	border-left: 0;
	border-right: 0;
}
.quantity-box .qtyminus,
.quantity-box .qtyplus {
	background: #fff;
	-webkit-appearance: none;
	outline: none;
	font-size: 20px;
	float: left;
	padding: 0 15px;
	height: 40px;
	border: 1px solid #f1f1f1;
}



form {
	overflow: hidden;
	padding-bottom: 170px;
}
.lbl-gender {
	margin-top: 10px;
}
.smllogo {
	padding: 12px 0;
	color: #f1f1f1;
}
.smllogo i.fa-map-marker {
	margin-right: 10px;
}
.arrow {
    border: 8px solid #fff;
    display: inline-block;
}

.right {
    transform: rotate(-45deg);
    -webkit-transform: rotate(-45deg);
}
.up {
	position: absolute;
    top: -7px;
    right: 50%;
    transform: rotate(-135deg);
    -webkit-transform: rotate(-135deg);
}
.gif-banner {
	width: 100%;
}


.full-page > .content {
	background-color: #ffffff;
}

.nav-pills.nav-pills-warning > li.active > a,
.nav-pills.nav-pills-warning > li.active > a:focus,
.nav-pills.nav-pills-warning > li.active > a:hover {
	background-color: #354860;
	box-shadow: none;
}
.nav-pills.nav-pills-rose > li.active > a, .nav-pills.nav-pills-rose > li.active > a:focus, .nav-pills.nav-pills-rose > li.active > a:hover {
    background-color: #f1f1f1;
	box-shadow: 0px 0px 1px rgba(0, 0, 0, 0.5);
}
.cartPaymentsList.nav> li > a > img {
	width: 23%;
	margin-right: 0px;
}
.cartPaymentsList.nav> li > a:active,
.cartPaymentsList.nav> li > a:hover,
.cartPaymentsList.nav> li > a {
    color: #000000;
}

.text-bold {
    font-weight: bold;
}
.btn.btn-info, .btn.btn-info:hover, .btn.btn-info:focus,
.btn.btn-info:active, .btn.btn-info.active,
.btn.btn-info:active:focus, .btn.btn-info:active:hover,
.btn.btn-info.active:focus, .btn.btn-info.active:hover,
.open > .btn.btn-info.dropdown-toggle,
.open > .btn.btn-info.dropdown-toggle:focus,
.open > .btn.btn-info.dropdown-toggle:hover,
.navbar .navbar-nav > li > a.btn.btn-info,
.navbar .navbar-nav > li > a.btn.btn-info:hover,
.navbar .navbar-nav > li > a.btn.btn-info:focus,
.navbar .navbar-nav > li > a.btn.btn-info:active,
.navbar .navbar-nav > li > a.btn.btn-info.active,
.navbar .navbar-nav > li > a.btn.btn-info:active:focus,
.navbar .navbar-nav > li > a.btn.btn-info:active:hover,
.navbar .navbar-nav > li > a.btn.btn-info.active:focus,
.navbar .navbar-nav > li > a.btn.btn-info.active:hover,
.open > .navbar .navbar-nav > li > a.btn.btn-info.dropdown-toggle,
.open > .navbar .navbar-nav > li > a.btn.btn-info.dropdown-toggle:focus,
.open > .navbar .navbar-nav > li > a.btn.btn-info.dropdown-toggle:hover {
    background-color: #3ca7db;
    color: #FFFFFF;
}

.navbar-default .navbar-nav>.open>a, 
.navbar-default .navbar-nav>.open>a:focus, 
.navbar-default .navbar-nav>.open>a:hover {
	color: #f1f1f1;
    background-color: transparent;
}
 .navbar, .navbar.navbar-default {
	background-color: #1b1b1b;
    border-color: #0066c0;
    border: 0;
    padding: 0;
}
.navbar-default .navbar-nav>li>a:focus, 
.navbar-default .navbar-nav>li>a:hover,
.navbar-default .navbar-nav>li>a {
	color: #f1f1f1;
}
.navbar {
	margin-bottom: 0;
	border-radius: 0;
}
.wrapper {
	position: relative;
}
.dropdown-menu {
	border: 0;
}

.dropdown-menu>li>a {
	position: relative;
	font-size: 14px;
	padding: 4px 20px;
}

.subnav-box {
	height: 100%;
    background: #fff;
    width: 100%;
    padding: 20px 0 0 20px;
}
.subnav-ul {
	list-style: none;
	padding-left: 0;
}
.subnav-ul li {
	margin: 4px;
	/*width: 40%;*/
}
.btn.btn-info.go-btn {
	margin-top: 2px;
	padding: 10px 18px;
	background-color: #0066c0;
	box-shadow: none;
}
.subnav-dropdown > a::after {
	content: "";
    border: solid #f1f1f1;
    border-width: 0 2px 2px 0;
    display: inline-block;
    padding: 3px;
    transform: rotate(-45deg);
    -webkit-transform: rotate(-45deg);
    position: absolute;
    right: 10px;
    top: 40%;
}
.hide_image{
	display: none;
}
.slider_image_div{
	display: none;
}
.gif_image_div{
	display: none;
}
.subnav-dropdown:hover a::after {
	border: solid #676767;
	border-width: 0 2px 2px 0;
}

.subnav-ul li > a {
	color: #333333 !important;
	padding: 4px;
	font-size: 14px;
	font-weight: 400;
	display: block;
}
.subnav-ul li > a:hover {
	color: #3ca7db !important;
}

.overlay {
	display: none;
	height: 100%;
	width: 100%;
	position: absolute;
    background: rgba(0, 0, 0, .7);
    z-index: 9;
}

.navbar-nav > li > .dropdown-menu {
	padding-top: 12px;
}
.shopby-dropdown:hover .overlay{
	display: block;
}
select.search-cat {
	width: 140px;
	float: left;
	height: 40px;
}
.input-search {
	border-radius: 0;
	border: 0;
	float: left;
	height: 40px;
}
.btn-search {
	background: #3ca7db;
    height: 40px;
    width: 40px;
    border-radius: 0 5px 5px 0;
    border-color: transparent;
}
.btn-search:hover {
	color: #333;
    background-color: #3ca7db;
    border-color: transparent;
}
.acc-nav > li > a {
	padding: 25px;
}
.cart-count {
	color: #ffffff;
	background: #e5271e;
	size: 10px;
	position: absolute;
	top: 7px;
	right: 3px;
	border-radius: 50%;
	height: 19px;
	width: 20px;
	text-align: center;
	line-height: 20px;
}
.dropdown-menu li {
	position: static;
}

/********* breadcrumbs styles ****************/
.breadcrumbs__list {
    list-style: none;
    padding-left: 0;
}
.breadcrumbs__list-item {
    float: left;
    margin-right: 10px;
    position: relative;
}
.breadcrumbs__list-item:not(:last-child)::after {
    content: "/";
    display: block;
    position: absolute;
    color: #c1c1c1;
    top: 0;
    right: -8px;
}
.location-list {
	list-style: none;
	padding-left: 0;
	margin: 10px 0;
}
.location-list > li {
	float: left;
	position: relative;
	margin-right: 15px;
}
.location-list > li:not(:last-child)::after {
    content: ">";
    display: block;
    position: absolute;
    color: #999;
    top: 0;
    right: -12px;
}
#home-links {
	padding: 10px 0;
}
#home-links .h-link {
	display: block;
    text-align: center;
    padding: 4px;
    background-color: #eaeaea;
    color: #505050;
    transition: all .3s;
    margin: 5px 0;
}
#home-links .h-link:hover {
	color: #f1f1f1;
    border: 0;
    background: #364762;
}
.login-container {
	padding: 40px 0;
}
.login-container .card-header {
	margin-bottom: 20px;
}

/*********** Footer Styles *************/
.dis-cell {
    display: table-cell;
    position: relative;
    vertical-align: middle;
}

.dis-table {
    display: table;
    width: 100%;
    height: 100%;
}
.main-footer .dis-table {
    padding-bottom: 30px;
    position: relative;
}

.main-footer {
    background-color: #f5f5f5;
    padding: 40px 0 0 0;
	color: #0f0f0f;
}
.main-footer ul {
	padding-left: 0;
}
.footer-box h3 {
    color: #0f0f0f;
    font-size: 18px;
    margin: 0 0 26px;
    position: relative;
    padding: 0 0 15px 0;
}
.footer-box h3:before, .footer-box h3:after, .brand-valley-bounty h3:before, .brand-valley-text h3:after {
	content:"";
	position:absolute;
	left:0;
	bottom:0;
	width:60px;
	height:3px;
	background-color:#0f0f0f;
}
ul.footer-nav h6 {
    color: #0f0f0f;
    font-size: 14px;
    margin: 0;
    font-weight: 600;
    font-family: 'proxima_nova', sans-serif;
}
.footer-box {
    width: 20%;
    vertical-align: top;
    padding: 0 10px 0 0;
}
.footer-bottom ul {
	display: inline-block;
} 
.footer-box h3:after {
    width: 8px;
    left: 65px;
}
.footer-box p, .footer-box a {
    color: #0f0f0f;
    font-size: 13px;
    line-height: 20px;
	font-family: 'proxima_nova', sans-serif;
	font-weight: 300;
}
ul.footer-nav li {
    display: block;
    margin: 0 0 5px;
}
.footer-box p {
    padding: 0 20px 0 0;
}
.footer-bottom {
    background-color: #f5f5f5;
    padding: 12px 0;
	border-top: 1px solid #0f0f0f;
}
.footer-bottom p {
    color: #0f0f0f;
    font-size: 13px;
    font-family: 'proxima_nova', sans-serif;
    display: inline-block;
    margin: 3px 0 0px 0 !important;
    vertical-align: top;
}

.footer-box img {
    max-width: 100%;
}
.footer-logo {
    margin: 22px 0 0;
}
.footer-box:first-child {
    width: 25%;
}
.footer-box:nth-child(2), .footer-box:nth-child(3), .footer-box:nth-child(4) {
    width: 15%;
}
ul.bottombar {
	padding-left: 5px;
}
.topbar > li, .bottombar > li {
	display: inline-block;
	text-align: left;
}
.topbar li {
	position: relative;
}
.topbar > li:not(:last-child)::after, .bottombar > li:not(:last-child)::after {
	color: #c8c8c8;
	content: "|";
	display: inline-block;
	margin: 0 3px 0px 7px;
}
ul.bottombar li a {
	line-height: 28px;
	color: #0f0f0f;
}
.sub-cats-container {
	padding: 0 10px 50px 0;
}
.sub-cats {
	border-left: 2px solid #F44336;
	padding-left: 0;
	list-style: none;
	margin-left: 10px;
}
.sub-cats li a  {
	color: #0b0b0b;
	transition: all 0.2s;
	display: block;
	padding: 4px 8px;
}
.sub-cats li:not(:last-child) a {
	border-bottom: 1px solid #f1f1f1;
}
.sub-cats li a.active,
.sub-cats li a:hover {
	color: #f47600;
	background-color: #eaeaea;
	padding-left: 12px;
}

.category-product-box {
	margin-bottom: 20px;
}



/********** CMS Overrides ***********/
.navbar .dropdown-menu li a:hover, 
.navbar .dropdown-menu li a:focus, 
.navbar .dropdown-menu li a:active, 
.navbar.navbar-default .dropdown-menu li a:hover, 
.navbar.navbar-default .dropdown-menu li a:focus, 
.navbar.navbar-default .dropdown-menu li a:active {
	color: #3ca7db;
	background-color: transparent;
	box-shadow: none;
}
.sidebar .nav li > a:hover, .sidebar .nav li > a:focus,
.off-canvas-sidebar .nav li > a:hover,
.off-canvas-sidebar .nav li > a:focus {
	background-color: #3ca7db;
}
.sidebar .nav li > a:hover {
	color: #ffffff;
}
.navbar-nav.nav-left {
	background-color: #1b1b1b;
	padding: 0 10px;
}
@media screen and (min-width: 810px) {
	.navbar-nav.nav-left {
		margin-right: 50px;
	}
}
.navbar .navbar-nav > li > a {
	text-transform: capitalize;
}
.dropdown .ripple-container {
	display: none;
}
.navbar-header .navbar-toggle {
	color: #fff;
	float: left;
}
.sidebar:before,
.sidebar:after,
.sidebar{
    background: #f1f1f1;
}
.off-canvas-sidebar,
.off-canvas-sidebar:before,
.off-canvas-sidebar:after {
	background-color: #34495E;
}

.sidebar,
.off-canvas-sidebar {
    box-shadow: none;
}
li.active:hover > a,
li.active > a {
    background: #3bb556;
}
.navbar-form {
	overflow: visible;
}
.typeahead.dropdown-menu {
	top: 38px;
	left: 140px;
	display: block;
	width: 300px;
	border-radius: 0 !important;
	box-shadow: none;
	background-color: #f1f1f1;
}
.search-box .typeahead.dropdown-menu li.active > a {
	background-color: #F1F1F1;
	box-shadow: none;
}
/***********************************/

	.dropdown:hover .dropdown-menu {
  		display: block;
	}
.card [data-background-color="purple"] {
	background: linear-gradient(60deg, #354860, #354860);
    box-shadow: none;
}

/*********** Responsive Tables **********/
.res-table {
	margin: 0 0 40px 0;
	width: 100%;
	display: table;
}

.res-table .row {
	display: table-row;
	background: #f1f1f1;
}
.res-table .row:nth-of-type(odd) {
	background: #e9e9e9;
}
.res-table .row.header {
	font-weight: 900;
	color: #ffffff;
	background: #3ca7db;
}
.res-table .row.green {
	background: #27ae60;
}
.res-table .row.blue {
	background: #2980b9;
}
.res-table .cell {
	padding: 6px 12px;
	display: table-cell;
}
.res-table .row.last-row {
	background-color: #ffffff;
}
.res-table .img-cell {
	width: 15%;
}
.res-table .item-total {
	width: 10%;
}
.res-table .delete .material-icons {
	font-size: 25px;
}
.cart-summary > .card {
	margin-top: 0;
}
.cart-summary .grand_total {
	font-size: 20px;
}
@media screen and (max-width: 580px) {
	.res-table  {
		display: block;
	}
	.res-table .row {
		padding: 14px 0 7px;
		display: block;
	}
	.res-table .row.header {
		padding: 0;
		height: 6px;
	}
	.res-table .row.header .cell {
		display: none;
	}
	.res-table .row .cell {
		margin-bottom: 10px;
	}
	.res-table .row .cell:before {
		margin-bottom: 3px;
		content: attr(data-title);
		min-width: 98px;
		font-size: 10px;
		line-height: 10px;
		font-weight: bold;
		text-transform: uppercase;
		color: #969696;
		display: block;
	}
	.res-table .cell {
		padding: 2px 16px;
		display: block;
		float: left;
		width: 50%;
	}
	.res-table .cell.delete {
		width: 100%;
		text-align: center;
		background-color: #b5b5b5;
		margin-bottom: 0;
	}
	.res-table .cell.delete button{
		margin: 0;
		padding: 0;
	}
	.res-table .cell.delete i {
		font-size: 30px;
		width: 100%;
		color: #fff;
	}
	.res-table .row.last-row .cell {
		width: 100%;
	}
	.btn-complete-purchase.text-right{
		text-align: center;
	}
	ul.payment-img-list {
		text-align: center;
	}
	ul.payment-img-list > li {
		display: inline-block;
		float: none;
	}
}
/*****************************************/
#LoadMore {
	visibility: hidden;
	text-align: center
}
.cart-img-container {
	width: 120px;
	max-height: 160px;
	overflow: hidden;
	display: block;
}
.cart-title {
	font-weight: 400;
	font-size: 16px;
}
.cart-title > a {
	color: #3C4858;
}
.cart-title > small {
	color: #999999;
	font-size: 0.75em;
	font-weight: 300;
}
.form-group .review-textarea {
	background-color: #f1f1f1;
	padding: 10px;
}

.form-group label.review-label {
	font-size: 16px;
}
.card {
	border: 1px solid #f1f1f1;
}
.reviews-wrapper {
	min-height: 300px;
	overflow: hidden;
	max-height: 400px;
	overflow-y: scroll;
	border-radius: 2px;
	background-color: #f1f1f1;
	padding: 15px;
}
.user-review {
	margin-bottom: 20px;
	padding: 10px 0;
}
.user-review:not(:last-child) {
	border-bottom: 1px solid #d8d8d8;
}
.review-timestamp{
	margin-bottom: 10px;
}
.user-img > img{
	width: 65px;
	float: left;
	margin-right: 10px;
}
.user-avatar-right .br-theme-fontawesome-stars .br-widget {
	margin-top: 0;
}

.responsive-search {
	text-align: center;
	display: none;
}
.responsive-search .navbar-form {
	padding-top: 0;
	padding-bottom: 0;
	margin-top: 0;
	margin-bottom: 0;
}
.responsive-search .navbar-form .form-group:last-child {
	margin-top: 0;
}
.responsive-search .btn-search {
	border-radius: 0;
}
.responsive-search select.search-cat {
	width: 100px;
	border-radius: 0;
}
.responsive-search .search-box {
	border: 1px solid #F1F1F1;
	display: inline-block;
}
.location-selector-inputs form {
	padding-bottom: 0;
}
.sidebar-wrapper .smllogo {
	color: #3ca7db;
}
.card.tab-card {
	margin-top: 0;
	border-radius: 0 0 6px 6px;
	box-shadow: none;
}
.card-tabs ul.nav.nav-pills li a {
	font-size: 11px;
	border-radius: 6px 6px 0 0;
	background-color: #f1f1f1;
	color: #3ca7db;
}
.nav-pills.nav-pills-warning > li.active > a,
.nav-pills.nav-pills-warning > li.active > a:focus,
.nav-pills.nav-pills-warning > li.active > a:visited,
.nav-pills.nav-pills-warning > li.active > a:hover {
	color: #ffffff;
	background-color: #3ca7db;
}
.table > thead > tr > th {
	font-size: 1em;
	font-weight: 400;
	background-color: #48b644;
	color: #f1f1f1;
	text-align: center;
}
.dates-form {
	overflow: visible;
}
.card .table tr td {
	border: 1px solid #f5f5f5;
	border-collapse: collapse;
	text-align: center;
}
.zoomer-large-img {
	width: 100%;
	height: 100%;
}
.video-box > iframe {
	width: 100%;
	height: 400px;
}
.sidebar, .off-canvas-sidebar {
	z-index: 999;
}
.mobile-location-opener:active,
.mobile-location-opener:visited,
.mobile-location-opener {
	display: none;
	position: absolute;
	right: 10px;
	color: #fff;
	font-size: 30px;
	top: 6px;
	padding: 4px 15px;
}
.listings {
	margin-bottom: 40px;
}
.listings .row:not(last-child) {
	margin-bottom: 30px;
}
.list-box {
	display: block;
	color: #3C4858;
	border: 1px solid #eaeaea;
	padding: 10px 10px 0 10px;
	transition: all 0.2s;
}
.list-img {
	height: 210px;
	overflow: hidden;
}
.list-content {
	padding: 0 10px;
}
.list-box:hover {
	box-shadow: 2px 5px 5px rgba(0, 0, 0, 0.06);
}
.brands-links {
	padding: 30px;
	display: flex;
	flex-wrap: wrap;
}
.col-5 {
	flex: 1;
	flex-basis: 240px;
}
.brand-link {
	display: block;
	padding: 20px;
	transition: all .2s;
	margin: 10px;
	/*background: #f15c55;*/
	color: #fff;
	background-color: #0066c0;
	font-weight: bold;
	text-align: center;
	position: relative;
}
/*.brand-link > i {*/
	/*display: none;*/
	/*padding-left: 20px;*/
	/*position: absolute;*/
	/*font-size: 25px;*/
	/*top: 30%;*/
	/*transition: all;*/
	/*-webkit-animation: moveRight 5s; !* Safari 4.0 - 8.0 *!*/
	/*animation: moveRight 1s;*/

/*}*/
.brand-link:hover {
	background: #c45500;
	/*box-shadow: 0 4px 20px 0px rgba(0, 0, 0, 0.14), 0 7px 10px -5px rgba(244, 67, 54, 0.4);*/
	color: #ffffff;
}
/*.brand-link:hover > i {*/
	/*display: inline-block;*/
	/*right: 20px;*/
/*}*/
/*@-webkit-keyframes moveRight {*/
	/*0%   {right: 50px; opacity: 0;}*/
	/*100% {right: 20px; opacity: 1;}*/
/*}*/

/*!* Standard syntax *!*/
/*@keyframes moveRight {*/
	/*0%   {right: 50px; opacity: 0;}*/
	/*100% {right: 20px; opacity: 1;}*/
/*}*/
/*@media screen and (min-width: 576px) {*/
	/*.col-5 {*/
		/*width: 20%;*/
		/*float: left;*/
	/*}*/
/*}*/
/********** Responsive **************/

@media screen and (max-width: 991px) {
	.sidebar-wrapper .navbar-form.navbar-left {
		display: none;
	}
}
@media screen and (max-width: 768px) {
	#home-links .col-sm-2 {
		width: 50%;
		float: left;
	}
	.footer-box {
	    width: 50% !important;
	    float: left;
	    margin-bottom: 20px;
	}
	.social-icons-wrapper {
		display: none;
	}
	.blockUI.blockMsg.blockPage h1 {
		font-size: 12px;
	}
	.dropdown-backdrop {
		display: none;
	}
}

@media (max-width: 767px){
	.dropdown-menu {
		float: none;
	}
	.has-subnav .arrow.up {
		display: none;
	}
	.subnav-ul > li {
		width: 35%;
		padding: 10px;
	}
	.nav-mobile-menu .dropdown.open .dropdown-menu {
		position: static;
	}
	.subnav-box {
		position: static;
		display: none;
	}
	.subnav-ul li {
		float: none;
    	width: 100%;
    	text-align: left;
	}
	.subnav-ul li > a {
		width: 100%;
    	padding-left: 10px;
	}
	button.close {
	    display: block;
    	padding: 10px 16px;
    	border: 1px solid #999;
    	background: #f1f1f1;
	}
	#top-image-slider .owl-carousel .owl-item img {
		height: 200px !important;
	}
}
@media screen and (max-width: 480px) {
	.footer-box {
	    width: 100% !important;
	    margin-bottom: 20px;
	}
	.formsection li {
		width: 100%;
	}
	.cart-wrapper .nav-pills>li {
		float: none;
	}
	h3, .h3 {
		font-size: 1.2em;
	}
	#brands-slider .owl-carousel .owl-item img {
		width: 70% !important;
	}
	.bottom_part .location-selector-inputs {
		display: none;
	}
	.bottom_part {
		padding-bottom: 0;
	}
	.responsive-search {
		display: block;
	}
	.video-box > iframe {
		width: 100%;
		height: 100%;
	}
	.mobile-location-opener:active,
	.mobile-location-opener:visited,
	.mobile-location-opener {
		display: block;
	}
}



@media (min-width: 768px){
	.subnav-box {
		position: absolute;
		display: none;
		height: 100%;
	    top: 0;
	    left: 99%;
	    background: #fff;
	    width: 300px;
	    padding: 20px 0 0 20px;
	    border-left: 1px solid #f8f8f8;
	}
	.subnav-ul li {
		margin: 4px;
	}
	.subnav-dropdown:hover .subnav-box,
	.dropdown:hover .dropdown-menu {
  		display: block;
	}
	.navbar {
		border-radius: 0;
	}
	.navbar-nav>li {
	    	float: left;
	    	margin-right: 40px;
		}
	.navbar-nav > li.top-nav-link {
		margin-right: 0;
	}
	.navbar-form {
		margin-top: 7px !important;
	}
	.navbar-form .form-group {
			width: 100%
	}
	/*.navbar-right {*/
		/*margin-top: 10px;*/
	/*}*/
	.navbar-right .dropdown-menu {
		left: 0;
	}
	.zoomer-large-img {
		/*width: 555px;*/
		height: 320px;
	}

}

@media screen and (min-width: 768px) and (max-width: 1024px) {
	.navbar-form .input-search {
		width: 310px;
	}
}
@media screen and (min-width: 1024px)  {
	.navbar-form .input-search {
		width: 420px;
	}
}

.full-page:after, .full-page:before {
	/*display: none;*/
}



.br-theme-fontawesome-stars .br-widget a.br-selected:after {
	color: #3ca7db !important;
}

.card [data-background-color="purple"],
.card [data-background-color="blue"] {
	background: linear-gradient(60deg, #3ca7db, #3ca7db);
	box-shadow: 0 4px 20px 0px rgba(0, 0, 0, 0.14), 0 7px 10px -5px rgba(0, 188, 212, 0.4);
}

.form-group.is-focused .form-control {
	outline: none;
	background-image: linear-gradient(#3ca7db, #3ca7db), linear-gradient(#3ca7db, #3ca7db);
	background-size: 100% 2px, 100% 1px;
	box-shadow: none;
	transition-duration: 0.3s;
}

.bootstrap-select.btn-group .dropdown-menu li a:focus, .bootstrap-select.btn-group .dropdown-menu li a:hover {
	box-shadow: 0 4px 20px 0px #3ca7db, 0 7px 10px -5px #3ca7db;
}
.dropdown-menu li a:hover, .dropdown-menu li a:focus, .dropdown-menu li a:active {
	background-color: #3ca7db;
	color: #FFFFFF;
}

.radio input[type=radio]:checked ~ .check {
	background-color: #3ca7db;
}
.br-theme-fontawesome-stars .br-widget a.br-active:after {
	color: #3ca7db !important;
}

.owl-theme .owl-dots .owl-dot span {
	background: rgba(60, 167, 219, 0.29);
}
.owl-theme .owl-dots .owl-dot.active span, .owl-theme .owl-dots .owl-dot:hover span {
	background: #3ca7db;
}
.cart-summary .card-title {
	background: #3C4858;
	color: #f5f5f5;
	padding: 2px 4px;
	font-size: 16px;
}

.wrapper.wrapper-full-page {
	min-height: auto !important;
}
.btn.btn-primary {
	background-color: #3ca7db;
	color: #FFFFFF;
}
.btn.btn-primary:focus, .btn.btn-primary:active, .btn.btn-primary:hover {
	background-color: #3ca7db;
}

.owl-carousel .owl-item img {
	height: 100%;
	width: auto;
	margin: 0 auto;
}
#brands-section .owl-carousel .owl-item img {
	height: 100%;
	width: 100%;
}
.card-profile .card-avatar, .card-testimonial .card-avatar {
	border-radius: 0;
}
.product_price {
	font-weight: bold;
	margin-bottom: 5px;
}
